<button
	class="@btn @btn-outline @btn-info @btn-lg font-lato font-bold text-xl md:text-base md:@btn-md"
	onclick="messageModal{{message.id}}.showModal()"
>
	Open <span class="md:hidden">Message</span>
</button>
<dialog
	id="messageModal{{message.id}}"
	class="message-modal @modal text-left dark:text-white"
>
	<form method="dialog" class="@modal-box max-w-5xl w-11/12">
		<button class="@btn @btn-sm @btn-circle @btn-ghost absolute right-2 top-2">
			✕
		</button>
		<h3 class="font-bold text-lg">PESAN</h3>
		<p class="py-4 break-all overflow-y-auto overflow-x-hidden">
			{{ message.pesan }}
		</p>
	</form>
</dialog>
