@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		@apply bg-gradient-to-br from-white to-purple-400 dark:text-white text-slate-700 font-lato font-bold dark:bg-gradient-to-br dark:from-[#1d232a] dark:to-slate-800;
	}
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@font-face {
	font-family: "dogica-regular";
	src: url("./assets/font/dogica/dogica.ttf");
}
@font-face {
	font-family: "dogica-bold";
	src: url("./assets/font/dogica/dogicabold.ttf");
}
@font-face {
	font-family: "dogica-pixel";
	src: url("./assets/font/dogica/dogicapixel.ttf");
}
@font-face {
	font-family: "dogica-pixelbold";
	src: url("./assets/font/dogica/dogicapixelbold.ttf");
}

input::-ms-clear,
input::-ms-reveal {
	display: none;
}

.shine-text {
	background-image: linear-gradient(
		45deg,
		rgba(139, 92, 246, 1),
		#fff,
		rgba(139, 92, 246, 1)
	);
	background-repeat: no-repeat;
	background-size: 80% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	text-shadow: 2px 2px 6px rgba(139, 92, 246, 1);
	color: transparent;
	animation: shine 3s ease-out infinite;
	@apply font-dogica-pixel-bold;
}

@keyframes shine {
	0% {
		background-position: -500% 0;
	}
	100% {
		background-position: 500% 0;
	}
}

.menu-active {
	opacity: 1;
	left: 0;
}

.menu-inactive {
	opacity: 0;
	left: -100%;
}

.text-underline-hover {
	max-width: fit-content;
	background-image: linear-gradient(
		to bottom,
		transparent 0%,
		transparent 90%,
		rgba(98, 0, 255, 1) 90%,
		rgba(132, 56, 255, 0.5) 100%
	);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	background-position-x: right;
	background-position-y: bottom;
	transition: background-size 300ms;
}

.text-underline-hover:hover {
	background-size: 100% 100%;
	background-position-x: left;
}

@layer components {
	.text-shadow {
		text-shadow: -2px 2px 3px rgba(139, 92, 246, 1);
	}
}

select {
	background-position-x: 100%;
	background-position-y: 5px;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='40' viewBox='0 0 24 24' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

select::-ms-expand {
	display: none;
}
